
{% extends "base.html" %}

{% load static %}
{% block title %}
    Create Blog
{% endblock %}
{% for msg in messages  %}
        {{msg}}
    {% endfor %}

{% block content %}



     
    <div class="container-fluid mr-23" style="background:linear-gradient(rgba(128, 128, 128, 0.705),
    rgba(128, 128, 128, 0.685), 
    rgba(128, 128, 128, 0.699)), url(static/img/portfolio/thumbnails/1.jpg);
    background-repeat:no-repeat;background-size:cover;
    border:12px solid white; width:60%;text-align:center">


      <form enctype = "multipart/form-data" action="{% url 'addblog' %}"  method="POST">
        {% csrf_token %}
        <div class="container ">
            <label for="reporter">Reporter:</label>
           
            <div class=" form-group  custom-file">
                    {{form.reporter}}
            </div>
            </div>

            <div class="container">
            <label for="category">Category:</label>
            <div class=" form-group  custom-file">
                    {{form.category}}
            </div>
        </div>

            <div class="container">
            <label for="title">Title:</label>
            <div class=" form-group  custom-file">
                    {{form.title}}
            </div>
        </div>
        
        <div class="container ">
                <label for="image">Image:</label>
                <div class=" form-group  custom-file">
                        {{form.image}}
                </div>
                </div>

            <div class="container mt-5 mb-5">
            <label for="headline">Headline:</label>
            <div class=" form-group  custom-file">
                    {{form.headline}}
            
            </div>
            </div>
            <hr>
        <br>
        <br>
        <hr>

            <div class="container mt-5 mb-5">
            <label for="content">Content:</label>
            <div class=" form-group  custom-file">
                    {{form.content}}
            </div>
         
            </div>
            <hr>
            <br>
            <br>
                <div class="form-group form-inline mt-5">
                        <!-- <input type="submit" class="btn btn-success fa-forward " value="Add Blog "> -->
                        <button class=" fa-forward btn btn-success">Post Blog</button>
             
            </div>
        
        
            
        
            
    </form>
       
</div>


    

{% endblock content %}
