 

        {% extends "base.html" %}


{% block title %}
    Details  
{% endblock title %}
    


{% block content %}

 <div class="card-group">
          <div class="card">
          <h5 class="btn btn-secondary btn-lg card-title">{{single.title}}</h5>
            <img src="{{single.image.url}}" class="card-img-top" alt="{{single.image.url}}">
            <h6>{{single.date_pub}}
            <div class="card-body">
              
              <p class="card-text">{{single.headline}}</p>
              <p class="card-text">{{single.content}}</p>
              <p class="card-text"><small class="text-muted">Repoter:<h2>{{single.reporter}}</h2>-category:{{single.category}}</small></p>
            </div>
          </div>

        </div>
      
{% endblock content %}
    